@import url('https://fonts.googleapis.com/css?family=Bubbler+One|PT+Sans+Narrow');

body {
    font-family: 'Bubbler One', sans-serif;
    font-size: 28px;
    background-color: black;
    font-weight: bold;
    background-image: url(http://38.media.tumblr.com/b7a30731e11324163548c82848366b4a/tumblr_mtr34aeFWU1rat0tqo1_500.gif);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 70px;
}


h1, h2, h3 {
    color: fuchsia;
    text-decoration: underline;
    background-color: yellow;
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
    color: fuchsia;
    font-family: sans-serif;
    font-size: 2rem;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    background-color: black;
}

h4 {
    color: fuchsia;
    float: right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-right: 140px;
    margin-top: 0px;
    margin-bottom: 25px;
    line-height: 0px;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

.header {
    width: 100%;
    background-color: yellow;
    position: fixed;
    top: 0;
    padding: fixed;
    box-sizing: border-box;
    max-height: 200px;
    margin: auto;
    z-index: 999;
}

.header h1 {
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: greenyellow;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    overflow: scroll;
}


.content {
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
    box-sizing: border-box;
}

.event {
    margin-bottom: 50px;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
}

.event h3{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
    text-decoration: underline;
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: yellow;
}

.event .location {
    background-color: yellow;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 480px;
    right: 310px;
    border-radius: 10%;
    font-family: 'PT Sans Narrow', sans-serif;
    color: fuchsia;
    font-size: 12px;
    
}

.event ul {
    font-family: "Bubbler One", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: "PT Sans Narrow", sans-serif;
}

.event ul li {
    margin-bottom: 2rem;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", sans-serif;
}

ol li {
    background: rgba(0, 0, 0, 0.8);
    color: fuchsia;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.background {
    background: rgba(0, 0, 0, 0.8);
}

ul li {
    color: fuchsia;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
}

.art-img {
    width: 100%;
    height: 430px;
    background: url('http://38.media.tumblr.com/f8ed2ebb7347d939ef2678f478c17d6e/tumblr_na5ocmljer1r2geqjo1_500.gif') center;
    background-size: cover;
    z-index: -999;
}

